<%- include("./partials/header")%>

    <a href="/login"><button type="button">Login</button></a>

    <a href="/register"><button type="button">Register</button></a>



    <%- include("./partials/footer")%>