<%- include("./partials/header")%>

    <form action="/blogs" method="POST">

        <input type="text" name="title" placeholder="title">
        <br>
        <input type="text" name="img" placeholder="image-url">
        <br>
        <input type="text" name="body" placeholder="body">
        <br>
        <button>Sumbit</button>

    </form>




    <%- include("./partials/footer")%>